@model ICollection<PlusAndComment.Models.ViewModel.ProductVM>
@using PlusAndComment.Common

<table border="1">
    <thead>
        <tr>
            <th>Image</th>
            <th>Category</th>
            <th>Product</th>
        </tr>
    </thead>
    <tbody>
        @{ 
        int i=0;

        foreach (var product in Model)
        {
            
        <tr>
            <td>
                @if (product.Pictures.Count != 0)
        {
            <img src="@product.Pictures.FirstOrDefault().Path" style="max-width: 100px; padding: 10px" />
}
            </td>
            <td>@product.Category.Name</td>
            <td>@product.Name</td>
            <td id="@String.Concat("cellAddToCart", i)">
                @Ajax.RawActionLink("<div id='xxx_OnClick" + i + "'class='xxx_OnClick btn btn-sm btn-primary addToCartLink'style='position: relative; z-index: 100000;'><span class='glyphicon glyphicon-ok'></span> Add to cart</div>",
                  "AddToCart",
                  "ShoppingCart",
                  new { @id = product.ProductId },
                  new AjaxOptions
                  {
                      HttpMethod = "GET",
                      OnBegin = "$(this).attr('disabled', true).addClass('ui-state-disabled');",
                      OnSuccess = "animateAddToCartButton"

                  },
                  new { @id = String.Concat("addToCartLink", i) })

            </td>
            <td>
                @Html.ActionLink("Edit","EditProduct","Manage", new { id = product.ProductId }, null)
            </td>
        </tr>

            i++;
        }
            }
    </tbody>
</table>
