@model List<PlusAndComment.Models.ViewModel.ProductAttributesVM>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    //@Html.AntiForgeryToken()
    <div class="row">
        <div style="position: relative">
            <label>Filters</label>
            <ul>
                @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(m => Model[i].ProductAttributeId)
            @Html.HiddenFor(m => Model[i].CategoryAttributeId)
            @Html.HiddenFor(m => Model[i].AttributeType)
            @Html.HiddenFor(m => Model[i].Name)
            @Html.HiddenFor(m => Model[i].CategoryAttribute)

            <li>@Model[i].Name</li>
    switch (Model[i].AttributeType)
    {
        case "text":
            @Html.TextBox("[" + i + "].Value", null, new { @class = "form-control" })
    break;
        @*case "number":
        //should be replaced to numebr value
        @Html.TextBox(attr.Name, attr.Value, new { @class = "form-control filter" });
        break;
    case "dateFrom":
        //should be replaced to numebr value
        @Html.TextBox(attr.Name, attr.Value, new { @class = "form-control datepicker filter" });
        break;
    case "dateTo":
        //should be replaced to numebr value
        @Html.TextBox(attr.Name, attr.Value, new { @class = "form-control datepicker filter" });
        break;*@
}
}
            </ul>
            <ul>
                @Html.ActionLink("Search", "Index", "Home", new { categoryId = Request.QueryString["categoryId"], attrs = Json.Encode(Model) }, new { @class = "btn btn-primary btn-small" })
            </ul>
        </div>
    </div>
}
<div class="row">
    @Html.ActionLink("Add attribute", "CreateProductAttribute", "Manage", null, new { @class = "btn btn-primary btn-small" })
</div>

