@model PlusAndComment.Models.ViewModel.HomeVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rapid Shop";
}

<head>
    <meta property="og:image" content="@Url.Content("~/Storage/logo.png")" />
</head>

<div class="container" style="max-width: 750px; margin-top: 20px;">
    <div class="row">
        <div class="col-md-4">
            @DisplayRoots(Model.Categories)
        </div>
            @Html.Partial("_CategoryResultsPartial", Model.Prducts)
    </div>
</div>

@helper DisplayRoots(ICollection<PlusAndComment.Models.ViewModel.CategoryVM> elements)
{
    <ul>
        @foreach (var element in elements.Where(x => x.ParentId == null))
        {
            <li>
                @Html.ActionLink(element.Name, "Index", "Home", new { @categoryId = element.CategoryId }, null)
                @*<a href="@element.CategoryId" class=""> @{Html.Name(element.Name);} </a>*@
                @DisplayChild(element)
            </li>
        }
    </ul>
}

@helper DisplayChild(PlusAndComment.Models.ViewModel.CategoryVM element)
{
    <ul>
        @foreach (var elem in element.Categories)
        {
            <li>
                @Html.ActionLink(elem.Name, "Index", "Home", new { @categoryId = element.CategoryId }, null)
                @{
                    if (elem.Categories.Count() > 0)
                    {
                        @DisplayChild(elem)
                    }
                }
            </li>
        }
    </ul>
}