@model IEnumerable<PlusAndComment.Models.ViewModel.ProductAttributeVM>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductsAttributes</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateProductAttribute")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductAttributeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryAttribute.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryAttribute.AttributeType)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAttributeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryAttribute.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryAttribute.AttributeType)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProductAttribute", "Manage", new { id=item.ProductAttributeId },null) |
                @Html.ActionLink("Details", "DetailsProductAttribute", "Manage", new {  id=item.ProductAttributeId }, null) |
                @Html.ActionLink("Delete", "DeleteProductAttribute", "Manage", new {  id=item.ProductAttributeId }, null)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
