@model PlusAndComment.Models.ViewModel.ShoppingCartVM
@{
    ViewBag.Title = "Shopping Cart";
}

<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @*@Html.ActionLink("Checkout>> ", "AddressAndPayment", "Checkout", new { @id = "CheckoutLink" })*@

    @*<a href="#" style="z-index:100000; position: absolute" id="CheckoutLink">Checkout>>Link</a>*@

    @*<div id="CheckoutLink" style="background-color: palegreen;  position: relative">aaaaaaaaaaaaaa  </div>*@
    @*@Html.ActionLink("Checkout>> ", "AddressAndPayment", "Checkout", new { @id = "CheckoutLink" })*@
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @Html.ActionLink(item.Product.Title ?? "title generated", "Details", "Store", new { id = item.ProductId }, null)
            </td>
            <td>
                @item.Product.Price
            </td>
            <td id="item-count-@item.RecordId">
                @item.Number
            </td>
            <td>
                <a href="#" class="RemoveLink"
                   data-id="@item.RecordId">
                    Remove
                    from cart
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>
