@model PlusAndComment.Models.ViewModel.ShoppingCartVM

@{
    ViewBag.Title = "Twoje zamówienie";
}

<div>
    <div class="form-group">
        <table id="basketTable" cellpadding="10" style="width: 100%">
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.RecordId" style="border-bottom: 1pt solid grey; padding: 15px 15px 15px 15px">
                    <td><img src="@Url.Content(item.Product.Pictures?.FirstOrDefault().Path)" style="max-height: 40px;" /></td>
                    <td>
                        <div>
                            @Html.ActionLink(item.Product.Name ?? "title generated", "Details", "Store", new { id = item.ProductId }, null)
                        </div>
                    </td>
                    <td>
                        <span style="display: inline-block"><a href="#" class="RemoveLink" data-id="@item.RecordId">-</a></span>
                        <span id="item-count-@item.RecordId" style="display: inline-block">@item.Number</span>
                        <span style="display: inline-block">x</span>
                        <span style="display: inline-block"><a href="#" class="AddLink" data-id="@item.RecordId">+</a></span>
                    </td>
                    <td>
                        <span>@item.Product.Price</span><span> zł</span>
                    </td>

                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>suma:</td>
                <td>
                    <span id="cart-total">@Model.CartTotal</span>
                </td>
            </tr>
        </table>
    </div>
    <div>
        @Html.ActionLink("Zamów ", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-primary btn-large", @style = "width: 100%" })
    </div>
</div>

<script>
    // Document.ready -> link up remove event handler
    $(".RemoveLink").click(function () {
        // Get the id from the link
        var recordToDelete = $(this).attr("data-id");
        if (recordToDelete !== '') {
            // Perform the ajax post
            $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                function (data) {
                    // Successful requests get here
                    // Update the page elements
                    if (data.ItemCount === 0) {
                        $('#row-' + data.DeleteId).fadeOut('slow');
                    } else {
                        $('#item-count-' + data.DeleteId).text(data.ItemCount);
                    }
                    $('#cart-total').text(data.CartTotal);
                    //$('#update-message').text(data.Message);
                    $('#cart-status').text('Cart (' + data.CartCount + ')');

                    $('#trolleyItemsCount').attr("data-count", data.CartCount);
                });
        }
    });

    // Document.ready -> link up remove event handler
    $(".AddLink").click(function () {
        // Get the id from the link
        var recordToDelete = $(this).attr("data-id");
        if (recordToDelete !== '') {
            // Perform the ajax post
            $.post("/ShoppingCart/AddNumberOfProductToCart", { "id": recordToDelete },
                function (data) {
                    // Successful requests get here
                    // Update the page elements
                    if (data.ItemCount === 0) {
                        $('#row-' + data.DeleteId).fadeOut('slow');
                    } else {
                        $('#item-count-' + data.DeleteId).text(data.ItemCount);
                    }
                    $('#cart-total').text(data.CartTotal);
                    //$('#update-message').text(data.Message);
                    $('#cart-status').text('Cart (' + data.CartCount + ')');

                    $('#trolleyItemsCount').attr("data-count", data.CartCount);
                });
        }
    });
</script>
