@model PlusAndComment.Models.ViewModel.AddProductAttributeVM

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateProductAttribute</title>
</head>
<body>
    @using (Html.BeginForm("AddProductAttribute", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => Model.CurrentProduct.Description)
        @Html.HiddenFor(m => Model.CurrentProduct.Name)
        @Html.HiddenFor(m => Model.CurrentProduct.ProductId)
        @Html.HiddenFor(m => m.ProductAttributeId, new { @id = "PKAttributeId" });
        @Html.HiddenFor(model => model.AttributeType, new { @id = "attributeType" })
        @Html.HiddenFor(m => Model.FK_CategoryAttributes, new { @id = "FK_CategoryAttrId" })

        <div class="form-horizontal">
            <h4>AddProductAttributeVM</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Name, new SelectList(Model.CurrentProduct.Category.Attributes.Select(attr => attr.Name)), htmlAttributes: new { @id = "SelectAttributeDropDown", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentProduct.Category.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label id="attributeCategory"></label>
            </div>
        </div>

        if (Model.CategoryAttributeId != null)
        {
            //value
            <div class="form-group" id="valueInput" style="display: none">
                @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                </div>
            </div>

            //Date
            <div class="form-group" id="valueDate" style="display: none">
                @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="datepicker" class="form-control">
                    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="tableAttributeList" style="display:none">
                <h4>Attribute list</h4>
                <table id="container">
                    <tr>
                        <th>Values</th>
                    </tr>
                    @Html.EditorFor(x => x.ComboboxValues, new { htmlAttributes = new { @class = "form-control" } })
                </table>

                <input type="button" id="btnAdd" value="Add New Item" class="btn btn-default" />
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>
</html>

<script>
    function ShowPropriateControl(attrType) {
        $("#tableAttributeList").hide();
        $("#listAtrributeValue").hide();
        $("#valueInput").hide();
        $("#valueDate").hide();

        switch (attrType) {
            case "list":
            case "multiSelectList":
                $("#tableAttributeList").show();
                $("#listAtrributeValue").show();
                break;
            case "text":
                break;
            case "date":
                $("#valueDate").show();
                break;
            case "number":
                $("#valueInput").show();
                break;
        }
    }

    $(function () {
        $("#btnAdd").click(function (e) {
            var itemIndex = $("#container input.ItemValue").length;
            e.preventDefault();

            var newItem = $("<tr><td><input id='ComboboxValues_" + itemIndex + "__Id' type='hidden' value='' class='iHidden'  name='ComboboxValues[" + itemIndex + "].Id' /><input id='ComboboxValues_" + itemIndex + "__ListId' type='hidden' value='' class='iHidden'  name='ComboboxValues[" + itemIndex + "].ListId'/><input type='text' id='ComboboxValues_" + itemIndex + "__Value' value='' name='ComboboxValues[" + itemIndex + "].Value' class='ItemValue form-control'/></td></tr>");
            $("#container").append(newItem);
        });
    });

          //Onchange dropdown
          $("#SelectAttributeDropDown").change(function() {

            var t = $(this).val();

            var attributes = @Html.Raw(Json.Encode(Model.CurrentProduct.Category.Attributes))

                $.each(attributes, function (index, item) {

                    if (t == item.Name) {
                        $("#attributeType").text(item.AttributeType);
                        $("#attributeCategory").text(item.CategoryAttribute.Name);
                        $("#FK_CategoryAttrId").val(item.PKAttributeId);

                        ShowPropriateControl($("#attributeType").text());
                    }
                    // access the properties of each user
                    var id = item.Id;
                    var name = item.Name;
                });
        });
</script>